html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: .2em .2em .2em .2em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 35rem;
    min-height: 35rem;
    background: linear-gradient(160deg, #6896eb 0%, #2d793d 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 7rem;
    width: 7rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #28d840;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.disabled {
    pointer-events: none;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 500px) and (min-width: 301px) {
    h1#GameTitle {
        font-size: 1.5em;
    }
    
    span, i.fa-star {
        font-size: 1.2em;
    }
    
    .score-panel .restart {
        float: none;
    }

    i.fa-undo {
        font-size: 1.3em;
        padding-left: 5px;
        padding-top: 8px;
    }

    .score-panel {
        width: 300px;
    }

    .deck {
        min-height: 19rem;
        width: 19rem;
    }

    .deck .card {
        width: 3.5rem;
        height: 3.5rem;
    }


}

@media screen and (max-width: 400px) and (min-width: 100px) {
    h1#GameTitle {
        font-size: 1.3em;
    }
    
    span, i.fa-star {
        font-size: 1.2em;
    }
    

    i.fa-undo {
        font-size: 1em;
        padding-left: 5px;
        padding-top: 8px;
    }

    .score-panel .restart {
        float: none;
    }

    .score-panel {
        width: 15em;
    }

    .deck {
        min-height: 15rem;
        width: 15rem;
    }

    .deck .card {
        width: 2.5rem;
        height: 2.5rem;
    }

    i {
    font-size: .7em;
}

}